<% title 'Editing school staff type' %>

<%= simple_form_for(@school_staff_type) do |f| %>
	<%= f.input :position, :input_html => {:class => 'auto'} %>
  <p>
    <%= f.button :submit %>
  </p>
<% end %>

<%= link_to 'Back', school_staff_types_path %>