<h1><%= @school_staff_types.size %> school staff types </h1>

<p><%= link_to 'New School Staff Type', new_school_staff_type_path %></p>

<ul>
<% @school_staff_types.each do |school_staff_type| %>
  <li><%= link_to school_staff_type.position, edit_school_staff_type_path(school_staff_type) %></li>
<% end %>
</ul>


