<h1><%= @student_relations.size %> adult relatives </h1>

<p><%= link_to 'New Relative', new_student_relation_path %></p>

<table cellspacing="0" cellpadding="0" border="0" class="index">
	<thead>
  <tr>
		<th>Name</th>
  </tr>
	</thead>
	<tbody>
	<% @student_relations.each do |relation| %>
	  <tr>
			<td><%= link_to relation.name, relation %></td>
	  </tr>
	<% end %>
	</tbody>
</table>