<%= image_tag(@student_relation.person.avatar.url(:medium), :class => "avatar") %>
<h1><%= @student_relation.person.name %> <%= link_to 'Edit', edit_student_relation_path(@student_relation) %></h1>

<p><%= link_to 'Back', student_relations_path %></p>