<h1>
	<%= @organization_staff_types.size %> organization staff types
</h1>

<p><%= link_to "New Organization Staff", new_organization_staff_type_path %></p>

<ul>
<% @organization_staff_types.each do |organization_staff_types| %>
  <li><%= link_to organization_staff_types.position, edit_organization_staff_type_path(organization_staff_types) %></li>
<% end %>
</ul>


