<h1>
	<%= @organization_staff_types.size %> 
	<%= correctly_pluralized_noun(@organization_staff_types.size, "organization staff type") %> 
	<%= link_to "new", new_organization_staff_type_path %>
</h1>

<ul>
<% @organization_staff_types.each do |organization_staff_types| %>
  <li><%= link_to organization_staff_types.position, edit_organization_staff_type_path(organization_staff_types) %></li>
<% end %>
</ul>


