<h1>New organization staff type</h1>

<%= simple_form_for(@organization_staff_type, :html => {:class => 'default'}) do |f| %>
	<%= f.input :position, :input_html => {:class => 'auto'} %>
  <p>
    <%= f.button :submit %>
  </p>
<% end %>

<%= link_to 'Back', organization_staff_types_path %>