<% title 'Editing Contact Number Type' %>

<%= simple_form_for(@contact_number_type) do |f| %>
	<%= f.input :name %>
  <p>
    <%= f.button :submit %>
  </p>
<% end %>


<p><%= link_to 'Back', contact_number_types_path %></p>