<h1><%= @contact_number_types.size %> contact number types <%= link_to 'new', new_contact_number_type_path %></h1>

<ul>
<% @contact_number_types.each do |contact_number_type| %>
 <li><%= link_to contact_number_type.name, edit_contact_number_type_path(contact_number_type) %></li>
<% end %>
</ul>

