<h1><%= @contact_number_types.size %> contact number types </h1>

<p><%= link_to 'New Contact Number Type', new_contact_number_type_path %></p>

<ul>
<% @contact_number_types.each do |contact_number_type| %>
 <li><%= link_to contact_number_type.name, edit_contact_number_type_path(contact_number_type) %></li>
<% end %>
</ul>

