<h1>New Contact Number Type</h1>

<% form_for(@contact_number_type) do |f| %>
  <%= f.error_messages %>
	<%= f.text_field :name %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<p><%= link_to 'Back', contact_number_types_path %></p>