<h1>New Contact Number Type</h1>

<%= simple_form_for(@contact_number_type, :html => {:class => 'default'}) do |f| %>
	<%= f.input :name, :input_html => {:class => 'auto'} %>
  <p>
    <%= f.button :submit %>
  </p>
<% end %>

<p><%= link_to 'Back', contact_number_types_path %></p>