<h1>Edit comment</h1>
<%= simple_form_for(@comment, :html => {:class => "default"}) do |f| %>
	
	<%= f.input :comment, :as => :text, :input_html => {:rows => 10} %>

  <p>
    <%= f.button :submit %>
  </p>
<% end %>