<% form_for(person, :html => {:multipart => true, :class => "default"}) do |f| %>
  <%= f.error_messages %>
	<div class="clearfix" >
		<div class="p1">
		<%= render :partial => "person_fields", :locals => {:f => f}%>
		</div>
	</div>
  <p>
    <%= f.submit %>
  </p>
<% end %>