<div class="associated_model input_set clearfix">
	<% new_or_existing = related_student.new_record? ? 'new' : 'existing' %>
	<% prefix = "relation[#{new_or_existing}_related_student_attributes][]"%>
	<% fields_for prefix, related_student do |r_form| %>
		<span>
			<%= r_form.collection_select :student_id, Student.all_alphabetical, :id, :name, {:include_blank => true} %>	
			<%= r_form.label :student_id, "Name" %>
		</span>
		
		<span>				
		<%= r_form.collection_select :relation_type_id, RelationType.all, :id, :name, {:include_blank => true} %>
		<%= r_form.label :relation_type_id, "Relationship" %>
		</span>
		<span><a href="#" class="association_remove">Remove</a></span>
		
	<% end %>
</div>