<h1><%= @relations.size %> relations <%= link_to 'new', new_relation_path %></h1>

<table cellspacing="0" cellpadding="0" border="0" class="index">
	<thead>
  <tr>
		<th>Name</th>
		<th>Email</th>
  </tr>
	</thead>

<% @relations.each do |relation| %>
  <tr>
    <td><%= link_to relation.name, relation %></td>
    <td><%= relation.email %></td>
  </tr>
<% end %>
</table>

