<div class="associated_model input_set clearfix">
	<% new_or_existing = relation.new_record? ? 'new' : 'existing' %>
	<% prefix = "student[#{new_or_existing}_student_relation_attributes][]"%>
	<% fields_for prefix, relation do |r_form| %>
		<span>
			<%= r_form.collection_select :relation_id, Relation.all_alphabetical, :id, :name, {:include_blank => true} %>	
			<%= r_form.label :relation_id, "Name" %>
		</span>
		
		<span>				
		<%= r_form.collection_select :relation_type_id, RelationType.all, :id, :name, {:include_blank => true} %>
		<%= r_form.label :relation_type_id, "Relationship" %>
		</span>
		<span><a href="#" class="association_remove">Remove</a></span>
		
	<% end %>
</div>