/* -------- mini reset */
html, body, div, form, fieldset, th, td, ol, ul, li{margin: 0; padding: 0;}
fieldset, img {border: 0;}

table {/* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;border-spacing: 0;}


/* --------  some general classes */
body {
  font-family:Helvetica, Arial, sans-serif;
  font-size: 76%;
  color:#242424;
  }
  
p{font-size:1em;line-height:1.8em;margin:1em 0;}

ol, ul, li {list-style: none; font-size: 1.0em; line-height: 1.8em;}
  
h1{font-weight:normal;}

img {display:block;}
input, select{margin-bottom:10px;}

.bulleted li{list-style-type:disc;}
.numbered li{list-style-type:decimal}
.float_left{float:left;}
.float_right{float:right;}

.clearfix{*zoom:1}/* for ie */
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}

address{font-style:normal;line-height:1.4em;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* light blue: #009fdb, blue: #0068ac, green: #33b560, light green: #9eddaf
/* layout */
#branding{margin-left:40px;background:url("/images/uenyc_logo.png") no-repeat;display:inline-block;width:148px;height:68px;text-indent:-10000px;overflow:hidden;}
#nav_primary_wrapper{background:#33b560;padding:0 40px;}
#nav_primary{padding-top:5px;}
#nav_primary a{text-decoration:none;padding:5px 10px;display:inline-block;margin-right:5px;color:#fff;
	-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;
	-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;}
#nav_primary a:hover, #nav_primary a.current{background:#fff;color:#000;}

#nav_secondary{float:right;padding-top:40px;padding-right:40px;}
#nav_secondary a{padding:5px 10px;display:inline-block;text-decoration:none;font-size:11px;}
#nav_secondary a:hover{text-decoration:underline;}

#container{margin:10px 40px;}

/* login */
#session_mgmt{width:400px;margin:0 auto;border: 1px solid #ddd; padding:20px;background:#efefef;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	}

img.avatar{float:left;margin-right:10px;}
h1 a{font-size:12px;}

table.index{width:100%;}
table.index td, table.index th{padding:5px;}
table.index td{border-bottom:1px solid #eee;}
table.index th{text-align:left;border-bottom:1px solid #dedede;}

form.default label{display:block;line-height:1.6em;clear:both;}
form.default div.input_set span{float:left; margin-right:10px;}

/* rails error stuff */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}


