<h1><%= @counties.size %> counties</h1>

<p><%= link_to 'New County', new_county_path %></p>

<ul>
<% @counties.each do |county| %>
	<li><%= county.state.abbr %> - <%= link_to county.name, edit_county_path(county) %></li>
<% end %>
</ul>

<p></p>