<h1>Editing student_relation</h1>

<%= simple_form_for(@student_relation) do |f| %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student_relation %> |
<%= link_to 'Back', student_relations_path %>