<h1>Editing relationship type</h1>

<%= render :partial => "model_form", :locals => {:student_relationship_type => @student_relationship_type}%>

<p><%= link_to 'Back', student_relationship_types_path %></p>