<%= simple_form_for(ethnicity, :html => {:class => "default"}) do |f| %>

  <%= f.input :ord, :label => 'Order', :input_html => {:size => 2} %>
	<%= f.input :name, :input_html => {:class => 'auto'} %>
	
	<p>
    <%= f.button :submit %>
  </p>
<% end %>
