<h1><%= @neighborhoods.size %> neighborhoods <%= link_to 'new', new_neighborhood_path %></h1>

<ul>
<% @neighborhoods.each do |neighborhood| %>
  <li><%= neighborhood.ord %> - <%= link_to neighborhood.name, edit_neighborhood_url(neighborhood)%></li>
<% end %>
</ul>

