<%= simple_form_for(activity, :html => {:class => "default"}) do |f| %>

  <%= f.input :name, :input_html => {:class => "auto"} %>	
  
  <%= f.input :ancestry, :label => 'Parent', :collection => Activity.roots %>
  
  <p><%= f.button :submit %></p>
  
<% end %>