<h1>Listing activities</h1>

<p><%= link_to 'New Activity', new_activity_path %></p>

<ul class="nested">
<% @activities.each do |activity| %>
	<li><%= link_to h(activity.name), edit_activity_path(activity) %>
	<% unless activity.children.empty? %>
		<ul>
		<% activity.children.each do |sub_activity| %>
			<li><%= link_to h(sub_activity.name), edit_activity_path(sub_activity) %></li>
		<% end %>
		</ul>
	<% end %>
	</li>
<% end %>
</ul>


