<h1>Listing activities <%= link_to 'new', new_activity_path %></h1>
<ul class="nested">
<% @activities.each do |activity| %>
	<li><%= link_to activity.name, edit_activity_path(activity) %>
	<% unless activity.children.empty? %>
		<ul>
		<% activity.children.each do |sub_activity| %>
			<li><%= link_to sub_activity.name, edit_activity_path(sub_activity) %></li>
		<% end %>
		</ul>
	<% end %>
	</li>
<% end %>
</ul>


