<!DOCTYPE html>
<html>
<head>
  <title>Urban Enrichment</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		<a href="/" id="branding">Urban Enrichment nyc</a>
	</div>

  <div id="session_mgmt">
    <%= render :partial => 'layouts/messages' %>
    <%= yield %>
	</div>

</body>
</html>
